---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBwDiGEq0LaPkY4h-AL7rrd6IPoGJzvhgI&location=29.22540200,-40.83417500&radius=200&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "debug_info" : [],
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 25 Jun 2013 10:06:51 GMT
recorded_with: VCR 2.5.0
